/* ------------ CONTAINERS & PAGE SETUP -------------- */
.body{
    height: 100% !important;
    /* background: url('shahaf-pics/background-pic.jpg') !important;  */
    text-align: center !important; 
    width: 100% !important;
    background-color: white !important;
    background-position: center !important; 
    background-repeat: no-repeat !important; 
    background-size: 100% !important; 
    background-attachment: fixed !important;
    font-family: 'Neue Montreal', sans-serif
}

div#menu {
    width: 100%;
    max-width: 100%;
    background-color: black;
    padding: 25px;
    border-bottom: 4px solid cyan;
}

div#menu button.nav-btn {
    font-family: "Gill Sans";
    font-weight: bold;
    background-color: transparent;
    border: 2px solid transparent;
    color: white;
    margin: 2px 20px;
    border-radius: 5px;
    padding: 10px 20px;
    box-sizing: border-box;
}

div#menu button.nav-btn:hover {
    color: cyan;
    border-color: cyan;
    transition: ease-out 1s;
    transition-property: border-color;
}





