.body{text-align: center; background-image: linear-gradient(to right, #EDC877, #F5E3BC) !important;}
.btn {border: 0.5px solid black !important; width: 40% !important;}
.header{text-align: center; float: middle !important; margin-right: 8%; margin-left: 8%; padding-right: 8%; padding-left:8%;}
.btn-outline-danger{color:red!important; border: 0.5px solid red !important;}
.LinkedIn-btn{height: 7% !important; width: 7% !important; padding: 1px !important;}
.LinkedIn-img{height: 90%; width: 90%;}
/* .exp{float:left; width: 20%; margin: 2px; padding: 2px; text-align: center !important;}
.knwld{float:right; width: 20%; margin: 2px; padding: 2px; text-align: center !important;}
#knowledge_div{text-align: center !important;} */
/* Timeline CSS code. Look up the website __https://bootsnipp.com/snippets/Q0ppE__ white gives other templates for timelines. At some point I should porbably change it up*/
.main-timeline8 {overflow: hidden; position: relative;}
.main-timeline8:after, .main-timeline8:before {content:""; display: block; width: 100%; clear:both;}
.main-timeline8:before{content:"";width:3px;height:100%;background:#d6d5d5;position:absolute;top:30px;left:50%}
.main-timeline8 .timeline{width:50%;float:left;padding-right:30px;position:relative}
.main-timeline8 .timeline-icon{width:32px;height:32px;border-radius:50%;background:#fff;border:3px solid #fe6847;position:absolute;top:5.5%;right:-17.5px}
.main-timeline8 .year{display:block;padding:10px;margin:0;font-size:30px;color:#fff;border-radius:0 50px 50px 0;background:#fe6847;text-align:center;position:relative}
.main-timeline8 .year:before{content:"";border-top:35px solid #f59c8b;border-left:35px solid transparent;position:absolute;bottom:-35px;left:0}
.main-timeline8 .timeline-content{padding:30px 20px;margin:0 45px 0 35px;background:#f2f2f2}
.main-timeline8 .title{font-size:19px;font-weight:700;color:#504f54;margin:0 0 10px}
.main-timeline8 .description{font-size:14px;color:#7d7b7b;margin:0}
.main-timeline8 .timeline:nth-child(2n){padding:0 0 0 30px}
.main-timeline8 .timeline:nth-child(2n) .timeline-icon{right:auto;left:-14.5px}
.main-timeline8 .timeline:nth-child(2n) .year{border-radius:50px 0 0 50px;background:#7eda99}
.main-timeline8 .timeline:nth-child(2n) .year:before{border-left:none;border-right:35px solid transparent;left:auto;right:0}
.main-timeline8 .timeline:nth-child(2n) .timeline-content{text-align:right;margin:0 35px 0 45px}
.main-timeline8 .timeline:nth-child(2){margin-top:170px}
.main-timeline8 .timeline:nth-child(odd){margin:-175px 0 0}
.main-timeline8 .timeline:nth-child(even){margin-bottom:80px}
.main-timeline8 .timeline:first-child,.main-timeline8 .timeline:last-child:nth-child(even){margin:0}
.main-timeline8 .timeline:nth-child(2n) .timeline-icon{border-color:#7eda99}
.main-timeline8 .timeline:nth-child(2n) .year:before{border-top-color:#92efad}
.main-timeline8 .timeline:nth-child(3n) .timeline-icon{border-color:#8a5ec1}
.main-timeline8 .timeline:nth-child(3n) .year{background:#8a5ec1}
.main-timeline8 .timeline:nth-child(3n) .year:before{border-top-color:#a381cf}
.main-timeline8 .timeline:nth-child(4n) .timeline-icon{border-color:#f98d9c}
.main-timeline8 .timeline:nth-child(4n) .year{background:#f98d9c}
.main-timeline8 .timeline:nth-child(4n) .year:before{border-top-color:#f2aab3}

@media only screen and (max-width:767px){.main-timeline8{overflow:visible}
.main-timeline8:before{top:0;left:0}
.main-timeline8 .timeline:nth-child(2),.main-timeline8 .timeline:nth-child(even),.main-timeline8 .timeline:nth-child(odd){margin:0}
.main-timeline8 .timeline{width:100%;float:none;padding:0 0 0 30px;margin-bottom:20px!important}
.main-timeline8 .timeline:last-child{margin:0!important}
.main-timeline8 .timeline-icon{right:auto;left:-14.5px}
.main-timeline8 .year{border-radius:50px 0 0 50px}
.main-timeline8 .year:before{border-left:none;border-right:35px solid transparent;left:auto;right:0}
.main-timeline8 .timeline-content{margin:0 35px 0 45px} 
/* end of css code for timeline */