/** Design this to fit in both an iphone pixel size and a computer screen pixel size **/
.body{
    height: 100% !important;
    background: url('shahaf-pics/background-pic.jpg') !important; 
    text-align: center !important; 
    width: 100% !important;
    background-position: center !important; 
    background-repeat: no-repeat !important; 
    background-size: 100% !important; 
    background-attachment: fixed !important;
}
.btn {border: 0.5px solid black !important; width: 40% !important;}
.header{text-align: center; float: middle !important; margin-right: 7%; margin-left: 7%; padding-right: 8%; padding-left:8%;}
.btn-outline-danger{color:red!important; border: 0.5px solid red !important;}
.LinkedIn-btn{width: 5% !important; padding-top: 100% !important; padding: 2px !important;}
.LinkedIn-img{height: 95%; width: 85%;}
.w45{width: 45% !important;}
.w94{width: 94% !important;}
.w100{width: 100% !important;}
.ml2{margin-left: 2% !important;}
.logo-label{font-family: "monospace" !important; text-align: center !important;}
.skill-logo-container{margin-left: 5% !important; margin-right: 5% !important; }
.courses-btn:hover{background-color:white !important; color:gray !important;}
.opposite-outline-primary:hover{border-color: gray !important; background-color: #007bff; color:white;}
.tablePart{width: 90% !important; padding-right:3% !important; padding-left: 3% !important; margin: 0% !important;}
.gmail-btn{width:5% !important; padding-top: 100% !important; padding: 2px !important; border-radius: 150px !important;}
.gmail-img{width: 100%; height: 120%; border-radius: 150% !important;}
.logo-bigger-img{margin: 1% !important; padding: 2% !important; height: 9% !important; padding-top: 100%;}
.list-group-item{border: 1px solid black; text-align: center;}
.list-group{text-align: center !important; margin-right: 3% !important; margin-left: 3% !important;}
.logo-img{margin: 1% !important; padding: 0.5% !important; height: 9%; padding-top: 0%;}
.logo-img-smaller{margin: 1% !important; padding: 0.5% !important; height: 6%; padding-top: 0%;}
.sortBtn{width: 25% !important; margin: 3% !important;}
.edu{margin-right: 7% !important; margin-left: 7% !important;}
.inner-content{text-align: left !important; margin-left: 7% !important;}
.imgContainer{text-align: center !important; margin-right: 15% !important; margin-left: 15% !important;}
.imgBanner{height: 45%; border-radius: 10px; border: 0.1px solid black;}
.fa{padding-top: 25% !important;}
.w17{width: 17% !important;}
.sub-edu-btn{margin-top:1% !important;}
.spacebar{border-top: 4px solid white; margin-top: 1.2% !important; margin-bottom: 1% !important; width:55% !important;}
.inline{display: inline-block !important; display:flex; flex-direction: row;}
.vid{border: 1px solid black; border-radius: 3px !important;  }
textarea{ text-align: center !important;   border: 0.8px solid black !important; border-radius: 3px;}
.email-div{ margin-right: 15% !important; margin-left: 15% !important;}
.send{margin-right: 20% !important; margin-left: 20% !important;}
.email-sender-input{text-align: center; border: 0.6px solid black; border-radius: 4px; padding: 3px;}
.subject{text-align: center; border: 0.6px solid black !important; border-radius: 4px; padding: 3px !important; width: 60% !important;}
.contact-btn{background-color: rgba(255, 255, 255, 0.45) !important; margin-right: 1% !important; border: 2px solid white !important; width: 5.6% !important; height: 9.3% !important; padding: 0.5% !important;}
.contact-btn:hover{background-color:white !important; border: 3px solid black !important; padding: 0.75% !important;}
/* timeline CSS */
.main-timeline{ font-family: 'Nunito Sans', sans-serif; }
.main-timeline .timeline-content{
    background: linear-gradient(to right,#6C4ADC,#9C36BA);
    padding: 20px 20px 20px 150px;
    min-height: 150px;
    display: block;
    position: relative;
    z-index: 1;
}
.main-timeline .timeline-content:hover{ text-decoration: none; }
.main-timeline .timeline-content:before{
    content: "";
    background: rgba(255, 255, 255, 0.72) ;
    position: absolute;
    top: 7px;
    right: 7px;
    left: 0;
    bottom: 0;
    z-index: -1;
}
.main-timeline .timeline-icon{
    color: #fff;
    background: linear-gradient(to bottom,#6C4ADC,#9C36BA);
    font-size: 60px;
    text-align: center;
    line-height: 130px;
    height: 130px;
    width: 110px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-clip-path: polygon(100% 0, 100% 70%, 50% 100%, 0 70%, 0 0);
    clip-path: polygon(100% 0, 100% 70%, 50% 100%, 0 70%, 0 0);
}
.main-timeline .title{
    color: #6C4ADC;
    font-size: 22px;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 0 5px;
}
.main-timeline .description{
    color: #666;
    font-size: 15px;
    margin: 0;
}
.main-timeline .timeline:nth-child(even) .timeline-content{
    text-align: right;
    padding: 20px 150px 20px 20px;
}
.main-timeline .timeline:nth-child(even) .timeline-content:before{
    left: 7px;
    right: 0;
}
.main-timeline .timeline:nth-child(even) .timeline-icon{
    left: auto;
    right: 0;
}
.main-timeline .timeline:nth-child(4n+2) .timeline-icon{
    background: linear-gradient(to bottom,#9C36BA,#E81C7E);
}
.main-timeline .timeline:nth-child(4n+2) .timeline-content{
    background: linear-gradient(to right,#E81C7E,#9C36BA);
}
.main-timeline .timeline:nth-child(4n+2) .title{ color: #9C36BA; }
.main-timeline .timeline:nth-child(4n+3) .timeline-icon{
    background: linear-gradient(to bottom,#E81C7E,#EE5167);
}
.main-timeline .timeline:nth-child(4n+3) .timeline-content{
    background: linear-gradient(to right,#E81C7E,#EE5167);
}
.main-timeline .timeline:nth-child(4n+3) .title{ color: #E81C7E; }
.main-timeline .timeline:nth-child(4n+4) .timeline-icon{
    background: linear-gradient(to bottom,#EE5167,#FA964A);
}
.main-timeline .timeline:nth-child(4n+4) .timeline-content{
    background: linear-gradient(to right,#FA964A,#EE5167);
}
.main-timeline .timeline:nth-child(4n+4) .title{ color: #EE5167; }
@media screen and (max-width:576px){
    .main-timeline .timeline-content{ padding: 90px 20px 20px 0; }
    .main-timeline .timeline:nth-child(even) .timeline-content{ padding: 90px 0 20px 20px; }
    .main-timeline .timeline-icon{
        font-size: 40px;
        line-height: 80px;
        height: 80px;
        width: 80px;
    }
    .main-timeline .title{ font-size: 18px; }
}
.act-title{font-size: 15px}
.act-date{font-size: 10px;}
.act-desc{font-size: 12px;}
.smallerBtn{width: 25% !important;}
.resume{background-color:rgba(255, 255, 255, 0.45)}
.resume:hover{
    background-color: white;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }
.act-div{margin-right: 25% !important; margin-left: 25% !important; background-color:rgba(255, 255, 255, 0.75);}
.item-activities-list
{
    background-color:rgba(255, 255, 255, 0.65);
    color:#007bff !important;
    border: 1.5px solid #007bff !important;
    width: 55% !important;
    padding-top: 1% !important;
    padding-bottom: 1% !important;
}
.item-activities-list:hover
{
    background-color: white;
    color: black !important;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}
.lower-item-activities-list
{
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.upper-item-activities-list
{
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;!
}
/* End timeline css */

.btn-secondary
{
    background-color: #6C757D;
    color: white;
}
.btn-outline-primary {
    color: #007bff;
    background-color: transparent;
    background-image: none;
    border-color: #007bff !important;
}
.projectTableContainer
{
    width: 100% !important;
    background-color: white;
    border: 3px solid black;
    border-radius: 5px !important;
    padding: 2% !important;
}
.gpaGraph {width: 100 !important;}
.classes
{
    background-color: white;
    border-radius:5px !important;
    border: 2px solid black;
    padding: 2%; 
    margin-right: 3% !important;
    margin-left: 3% !important;
}
.honorsProjectsClass{
    padding: 2% !important;
    text-align: center !important;
    background-color: white;
    border-radius: 4px;
    border: 3px solid black;
}
.footer{margin-bottom: 5% !important; background: linear-gradient(to right,rgb(160, 131, 255),rgb(236, 174, 255)); border-top: 3px solid black; border-bottom: 3px solid black; padding: 2% !important; opacity: 0.9;}
.exps-table
{
    width: 33% !important;
    margin-left: 0px!important;
}