.contactbtn {
    border: 1px solid black;
    border-radius: 5px;
    padding: 7px 0;
    font-weight: bold;
    cursor: pointer;
    background: none;
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in-out 0.2s;
    width: 100%;
}


.socialLinks {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 20px;
}

.contactbtn.twitter {
    color: #333;
    border-color: #333;
}

.contactbtn.twitter:hover {
    color: white;
    background-color: #333;
}

.contactbtn.github {
    color: #333;
    border-color: #333;
}

.contactbtn.github:hover {
    color: white;
    background-color: #333;
}

.contactbtn.linkedin {
    color: #0077B5;
    border-color: #0077B5;
}

.contactbtn.linkedin:hover {
    color: white;
    background-color: #0077B5;
}

.contactbtn.medium {
    color: #000000;
    border-color: #000000;
}

.contactbtn.medium:hover {
    color: white;
    background-color: #000000;
}