.menu {
    background-color: white;
    padding: 30px 15% 0px 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
}

.navbtn {
    color: black;
    margin: 0px 35px;
    text-decoration: none;
    font-weight: 400;
    transition: ease-in-out 0.2s;
    display: inline-block;
    flex-shrink: 0;
    padding: 10px;
    font-size: 16px;
}

.navbtn:hover {
    color: black;
    font-weight: 900;
}

.menu > .navbtn {
    flex-grow: 0;
    flex-basis: auto;
}

/* Media query for tablets */
@media screen and (max-width: 768px) {
    .menu {
        padding: 20px 10% 0px 10%;
    }

    .navbtn {
        margin: 0px 20px;
        font-size: 14px;
    }
}

/* Media query for mobile phones */
@media screen and (max-width: 480px) {
    .menu {
        padding: 15px 5% 0px 5%;
        flex-direction: column;
        align-items: center;
    }

    .navbtn {
        margin: 10px 0;
        font-size: 16px;
        padding: 8px 15px;
        width: 100%;
        text-align: center;
    }
}