h1 {
    font-size: 80px;
    font-weight: bolder;

}

.emailme {
    background: transparent;
    color: black;
    border: 3px solid black;
    border-radius: 5px;
    padding: 10 40px;
    font-weight: bolder;
    background-color: rgb(142, 142, 255);
}

div.socialmedia {
    display: flex;
    text-align: left;
    font-size: 28px;
    margin-top: 20px;
    width: 15%;
}

div.socialmedia i {
    flex: 1;
    margin: 0px 20px 0px 0px;
}

div.spacer {
    margin: 70px;
}